@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-between($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin display-grid {
    display: grid;
}

@mixin responsive-mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin responsive-small-mobile {
    @media (max-width: 480px) {
        @content;
    }
}